@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

main {
    background-color: rgba(237, 240, 239, 0.824);

}

$mainColor: #08101b;

@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}

// Usage
.custom-container {
    @include make-container();
}